{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
	<h1>Editar Habitacion</h1>
</div>

    {#{ form(edit_form) }#}
    {% include 'HotelRoomBundle:Room:form.html.twig' with {'form': edit_form} %}    


    <div align="center">
        {{ form(delete_form) }}
    </div>

<ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
