{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/reservations.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
    <h1>Lista de Habitaciones</h1>
</div>

<div align="center">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('room_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {% if entity.roomtype == 'individual' %}
                        Individual
                    {% else %}
                        Doble
                    {% endif %}
                </td>
                <td>
                    {% if entity.roomcategory == 'standard' %}
                        Estandar
                    {% elseif entity.roomcategory == 'bussiness' %}
                        Bussiness
                    {% else %}
                        Alta
                    {% endif %}
                </td>
                <td>
                    {% if entity.roomstatus == 'free' %}
                        Libre
                    {% else %}
                        Ocupada
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
