{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}

<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
	<h1>Creacion de habitacion</h1>
</div>

{% include 'HotelRoomBundle:Room:form.html.twig' with {'form': form } %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
