{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/reservations.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
    <h1>Habitacion {{ entity.id }} </h1>
</div>

<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <div class="panel">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Tipo</label>
                        {% if entity.roomtype == 'individual'%}
                            Individual
                        {% else %}
                            Doble
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Categoria</label>
                        {% if entity.roomcategory == 'standard' %}
                            Estandar
                        {% elseif  entity.roomcategory == 'bussiness' %}
                            Bussiness
                        {% else %}
                            Alta
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>TV</label>
                        {% if entity.tv == true %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Baño</label>
                        {% if entity.shower == true %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Jacuzzi</label>
                        {% if entity.jacuzzi == true %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Musica</label>
                        {% if entity.music == true %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Masaje</label>
                        {% if entity.massage == true %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <div align="center">
                        <label>Estado</label>
                        {% if entity.roomstatus == 'free' %}
                            Libre
                        {% else %}
                            Ocupada
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if user.role == 'admin' %}
<div class="row">
    <div class="small-6 medium-4 columns">
        <a href="{{ path('room') }}" class="success button">
            Regresar
        </a>
    </div>
</div>
{% endif %}

{% endblock %}
