{% extends '::foundation.base.html.twig' %}

{% block title %}
Hotel Symfonia
{% endblock %}

{% block body %}
	{#cover con efecto parallax#}
	<div class="cover"
	style="background-image:url({{ asset('bundles/img/accessdenied2.png') }});">
	</div>

{% endblock %}
