<div class="hr" style="margin-top:5%;"><hr/></div>
<div class="row">
	<div class="small-12 medium-4 columns">
		<h3 align="center">Contactanos</h3>
		
	</div>
	<div class="small-12 medium-4 columns">
		<h3 align="center">
			Links
		</h3>
		<br><br>
		<div class="small-12 medium-6 medium-centered columns">
		<a href="#">Inicio</a><br><br>
		<a href="#">Registro</a><br><br>
		<a href="#">Login</a><br><br>
		<a href="#">Reservaciones</a><br><br>
		<a href="#">Equipo</a><br><br>
		</div>
	</div>
	<div class="small-12 medium-4 columns">
		<h3 align="center">
			Algo mas
		</h3>
	</div>
</div>
{#footer#}
<footer>
	<div id="footer-div">
		<div class="row">
			<div class="small-6 medium-6 columns">
				<h3 style="text-align: left; color:#D6D6D6;">Hotel Symfonia</h3>
				<p style="color:#999999; font-size:14px; margin:0%;">Creado por Gabriel Nunez y Roynny Zambrano.</p>
			</div>
			<div class="small-6 medium-6 columns">
				<p align="right" style="color:#999999; margin:0%;">
					<a href="#" class="fi-social-twitter" style="font-size:50px; color:#999999;"></a>
					<a href="#" class="fi-social-facebook" style="font-size:50px; padding:15px; color:#999999;"><a>
					<a href="#" class="fi-social-google-plus" style="font-size:50px; color:#999999;"></a>
				</p>
			</div>
		</div>
	</div>
</footer>