{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body %}
	<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/login.jpg') }});">
	</div>

	{{ include('HotelUserBundle:User:guest-topbar.html.twig') }}
	<div class="title-div">
		<h1>El equipo</h1>
	</div>

	<br/><br/>

	<div class="row">
		<div class="small-12 medium-4 medium-push-1 columns">
		<h4 class="subheader" align="center">Full-stack Web Developer</h4>
<!-- Place this tag where you want the widget to render. -->
<div class="g-person" data-width="310" data-href="https://plus.google.com/108213621278469108296" data-theme="dark" data-rel="author"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es-419'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
		</div>

		<div class="small-12 medium-4 medium-pull-1 columns">
		<h4 class="subheader" align="center">Full-stack Web Developer</h4>
			<!-- Place this tag where you want the widget to render. -->
<div class="g-person" data-width="310" data-href="https://plus.google.com/104641728138166915609" data-theme="dark" data-rel="author"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es-419'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
		</div>
	</div>
{% endblock %}