{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body %}
	<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/login.jpg') }});">
	</div>

	{{ include('HotelUserBundle:User:guest-topbar.html.twig') }}
	<div class="title-div">
		<h1>El equipo</h1>
	</div>

	<br/><br/>

	<div class="row">
		<div class="small-12 medium-4 medium-push-1 columns">
			<ul class="pricing-table">
				<li class="title">Gabriel Nunez</li>
				<li><img src="{{ asset('bundles/img/team1.jpg') }}"/></li>
				<li class="description">Full-stack Web developer</li>
				<li class="bullet-item">
					<p align="center" style="color:black;">
						<a href="https://twitter.com/gabnZnhttps://twitter.com/gabnZn">
							<i class="fi-social-twitter" style="font-size:200%;"></i>
						</a>
						<a href="https://www.facebook.com/gab.nzn">
							<i class="fi-social-facebook" style="font-size:200%; padding:10%;"></i>
						</a>
						<a href="https://plus.google.com/u/0/108213621278469108296/posts">
							<i class="fi-social-google-plus" style="font-size:200%;"></i>
						</a>
					</p>
				</li>
			</ul>
		</div>

		<div class="small-12 medium-4 medium-pull-1 columns">
			<ul class="pricing-table">
				<li class="title">Roynny Zambrano</li>
				<li><img src="{{ asset('bundles/img/team2.jpg') }}"/></li>
				<li class="description">Full-stack Web developer</li>
				<li class="bullet-item">
					<p align="center" style="color:black;">
						<a href="https://twitter.com/l_Roy_l">
							<i class="fi-social-twitter" style="font-size:200%;"></i>
						</a>
						<a href="https://www.facebook.com/roynny18">
							<i class="fi-social-facebook" style="font-size:200%; padding:10%;"></i>
						</a>
						<a href="https://plus.google.com/104641728138166915609/posts">
							<i class="fi-social-google-plus" style="font-size:200%;"></i>
						</a>
					</p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}