{#formularion de contacto#}
<div style="width:100%; height:90%;">
	<div class="small-12 columns" style="width:100%; height:45%; background-color:#CFCFCF;
	background-image:url({{ asset('bundles/img/contact.jpg') }});
background-size: 100%; background-repeat: no-repeat; background-attachment: fixed;" data-stellar-background-ratio="0.3">
		<h1 align="center" style="position: absolute; width:100%; bottom: 0; text-align: center;">Contactanos</h1>
	</div>

	<div class="row">
		<div class="small-4 columns">
			<h4 align="center" style="color:black;"><i class="fi-comment-quotes" style="font-size:40px;"></i> Te gusto el hospedaje?</h4>
		</div>
		<div class="small-4 columns">
			<h4 align="center" style="color:black;"><i class="fi-comment-minus" style="font-size:40px;"></i> Tienes alguna critica?</h4>
		</div>
		<div class="small-4 columns">
			<h4 align="center" style="color:black;"><i class="fi-comments" style="font-size:40px;"></i> Necesitas atencion?</h4>
		</div>
	</div>

	<div class="row">
		<h1 class="subheader" align="center">Formulario.</h1>
	</div>
</div>