{% extends 'GZMainBundle::layout.html.twig' %}

{% block body %}
	{#cover de equipo#}
	<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/contact.jpg') }});">
	</div>
	{#barra superior#}
	{{ include('GZMainBundle::'~prefix~'-topbar.html.twig') }}
	{#titulo#}
	<div class="title-div">
		<h1>Equipo</h1>
	</div>
	{#integrantes de equipo#}
	<div class="row">
		<div class="small-4 small-push-1 columns panel">
			<h3 align="center">Gabriel Nunez</h3>
			<h1 align="center">Foto</h1>
			<p align="center">Desarrollador web</p>

			<div class="row">
				<div class="small-12 columns">
					<p align="center" style="color:black;">
						<i class="fi-social-twitter" style="font-size:200%;"></i>
						<i class="fi-social-facebook" style="font-size:200%; padding:10%;"></i>
						<i class="fi-social-google-plus" style="font-size:200%;"></i>
					</p>
				</div>
			</div>
		</div>

		<div class="small-4 small-pull-1 columns panel">
			<h3 align="center">Roynny Zambrano</h3>
			<h1 align="center">Foto</h1>
			<p align="center">Desarrollador web</p>

			<div class="row">
				<div class="small-12 columns">
					<p align="center" style="color:black;">
						<i class="fi-social-twitter" style="font-size:200%;"></i>
						<i class="fi-social-facebook" style="font-size:200%; padding:10%;"></i>
						<i class="fi-social-google-plus" style="font-size:200%;"></i>
					</p>
				</div>
			</div>
		</div>
	</div>
	{#footer#}
	{{ include('GZMainBundle::footer.html.twig') }}
{% endblock %}