{% extends 'GZMainBundle::layout.html.twig' %}

{% block body %}
	{#cover de registro#}
	<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/register.jpg') }});">
	</div>
	{#barra superior#}
	{{ include('GZMainBundle::guest-topbar.html.twig') }}
	{#titulo#}
	<div class="title-div">
		<h1>Registro</h1>
	</div>
	{#formulario de registro#}
	<div id="reg-div">
		{{ render(controller('GZUserBundle:User:registerattempt')) }}
	</div>
	{#footer#}
	{{ include('GZMainBundle::footer.html.twig') }}
{% endblock %}
