{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/payment3.jpg') }});">
</div>

{#{ include('HotelUserBundle:User:user-topbar.html.twig') }#}
{{ include('HotelUserBundle:User:'~prefix~'-topbar.html.twig') }}


	{#titulo#}
	<div class="title-div">
		<h1>Facturas</h1>
	</div>

	    <a href="{{ path('bill_pdf2') }}">
        	prueba
        </a>

{% endblock %}