{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/payment3.jpg') }});">
</div>

{#{ include('HotelUserBundle:User:user-topbar.html.twig') }#}
{{ include('HotelUserBundle:User:'~prefix~'-topbar.html.twig') }}


	{#titulo#}
	<div class="title-div">
		<h1>Facturas</h1>
	</div>


	<div class="row">

	  	<div class="small-6 columns">
	  		<div style="margin:0% 0% 0% 10%;"> 
	  		<img src="{{ asset('bundles/img/apple-touch-icon.png') }}" alt="some_text" width="100" height="100">
	  		{#<h3> logo symfony </h3>#}
	  		</div>
	  	</div>	
	  
	  	<div class="small-6 columns">
	  		<div style="margin:0% 0% 0% 40%;">   <h2> FACTURA </h2> 	</div>
		</div>

	</div>

	<div class="row">

		<div  class="small-12 columns" style="margin: 2% 0% 0% 5%;">
			<p style="font-size:small;"> Symfony - final Av. Siempre vivas Edfi. C.N.T Caracas Tefl: 500.1111 - RIF-J00124134-5 www.thechive.com</p>
		</div>
		<hr>
	</div>

	<div  class="row" >
		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Codigo de usuario: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> 2123123123 </p>
			</div>
		</div>	

	</div>

	<div class="row">

		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Nombre: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> nombre prueba </p>
			</div>
		</div>	

	</div>

	<div class="row">

		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Cedula: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> 76867867 </p>
			</div>
		</div>	

	</div>	

	<div class="row">

		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Telefono: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> 2342342345 </p>
			</div>
		</div>	

	</div>		


	<div class="row">

		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Fecha de emision: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> 03/04/2014 </p>
			</div>
		</div>	

	</div>	


	<div class="row">

		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Factura numero: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> F-232 </p>
			</div>
		</div>	
		<hr>
	</div>	

	<div class="row" >
		<h5  style="margin:0% 0% 0% 6%;"> Resumen de Facturacion </h5>
		<div class="small-6 columns" >
			<div style="margin:0% 0% 0% 10%;" >
				<h5> Factura numero: </h5>
			</div>
		</div>

		<div class="small-6 columns">
			<div style="margin:0% 0% 0% 0%;">
			<p> F-232 </p>
			</div>
		</div>	
		
	</div>	






	<div class="row">
		<div class ="small-12 columns" >
			<div style="margin:0% 0% 0% 0%;">
	    		<a href="{{ path('bill_pdf2') }}">
	    		<i class="fi-page-export-pdf" style="margin: 10% 0% 0% 50%; color:black; font-size:500%;"> </i></a>
	    	</div>
	    </div>
	</div>    


{% endblock %}