<div id="reg-div" style="width:100%; height:180%;">
	<div class="small-6 columns" style="width:100%; height:10%;">
		<h1 align="center" style="position: absolute; width:100%; bottom: 0; text-align: center;">Registro</h1>
	</div>
	{{ render(controller('GZMainBundle:Main:register')) }}
</div>