{#plantilla de disponibilidad o vista 3.#}

<div class="view-div" style="background-color:#CCFF99;">
	<div class="large-12 columns" style="width:100%;
	height:20%;">
		<h1 align="center" style="position: absolute; width:100%; bottom: 0; text-align: center;">Disponibilidad</h1>
	</div>

	<div class="row">

	</div>
</div>