<div data-magellan-expedition="fixed" style="background-color:black;">
  <dl class="sub-nav">
    <dd data-magellan-arrival="start"><a href="#start">Inicio</a></dd>
    <dd data-magellan-arrival="intro"><a href="#intro">Intro</a></dd>
    <dd data-magellan-arrival="rooms"><a href="#rooms">Habitaciones</a></dd>
    <dd data-magellan-arrival="team"><a href="#team">Equipo</a></dd>
    <dd data-magellan-arrival="contact"><a href="#contact">Contacto</a></dd>
  </dl>
</div>