{#plantilla de la cubierta o vista 1 de la pagina.#}

<div id="cover-div" class="view-div" style="background-image:url({{ asset('bundles/img/cover.jpg') }});
background-size: 100%; background-repeat: no-repeat; background-attachment: fixed;" data-stellar-background-ratio="0.3">
	
	<div class="large-6 columns" style="background-color:#474747;" align="center">
		<h1 style="font-size:60px; color:white;">Hotel Symfonia</h1>
	</div>

	<div class="row"></div>

	<div class="large-5 columns">
		<h2>Un lugar armonioso.</h3>
	</div>
</div>