{#footer#}
<footer>
	<div style="width:100%; height:40%; background-color:#474747;">
		<div class="row">
			<div class="small-6 columns">
				<h4 style="color:#999999">
					Hotel Symfonia
				</h4>
				<p style="color:#999999; font-size:14px;">Un hotel armonioso. Creado por Gabriel Nunez y Roynny Zambrano.</p>
			</div>
			<div class="small-6 columns">
				<p align="right" style="color:#999999; margin:0px;">
					<a href="#" class="fi-social-twitter" style="font-size:50px; color:#999999;"></a>
					<a href="#" class="fi-social-facebook" style="font-size:50px; padding:15px; color:#999999;"><a>
					<a href="#" class="fi-social-google-plus" style="font-size:50px; color:#999999;"></a>
				</p>
			</div>
		</div>
	</div>
</footer>