{#plantilla de intro o vista 2.#}
<a name="intro"></a>
<div class="view-div">
	<div data-magellan-destination="intro" class="small-6 columns" style="width:100%;
	height:35%;">

		<h1 align="center" style="position: absolute; width:100%; bottom: 0; text-align: center;">Intro</h1>
	</div>

	<div class="row">
		<div class="small-3 columns">
			<h1 align="center" style="color:black;"><i class="fi-star" style="font-size:75px;"></i></h1>
			<h4 align="center">Tu hotel favorito</h4>
		</div>
		<div class="small-3 columns">
			<h1 align="center" style="color:black;"><i class="fi-comment-quotes" style="font-size:75px;"></i></h1>
			<h4 align="center">Que dicen nuestros huespedes</h4>
		</div>
		<div class="small-3 columns">
			<h1 align="center" style="color:black;"><i class="fi-map" style="font-size:75px;"></i></h1>
			<h4 align="center">Ubicacion privilegiada</h4>
		</div>
		<div class="small-3 columns">
			<h1 align="center" style="color:black;"><i class="fi-shopping-cart" style="font-size:75px;"></i></h1>
			<h4 align="center">Reserva inmediata</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<p>Aqui va una labia.</p>
		</div>
		<div class="small-3 columns">
			<p>Aqui va una labia.</p>
		</div>
		<div class="small-3 columns">
			<p>Aqui va una labia.</p>
		</div>
		<div class="small-3 columns">
			<p>Aqui va una labia.</p>
		</div>
	</div>
</div>