{# plantilla del contenido #}

	
	<div class="large-12 large-centered columns">
		<ul data-orbit data-options="bullets:false; resume_on_mouseout:true; timer_speed:5000; animation:'fade'; slide_number:false;">
		  <li>
		    <img src="http://placehold.it/1200x450&text=Imagen 1" />
		    <div class="orbit-caption">Descripcion 1</div>
		  </li>
		  <li>
		    <img src="http://placehold.it/1200x450&text=Imagen 2" />
		    <div class="orbit-caption">Descripcion 2</div>
		  </li>
		  <li>
		    <img src="http://placehold.it/1200x450&text=Imagen 3" />
		    <div class="orbit-caption">Descripcion 3</div>
		  </li>
		</ul>
	</div>

	<div class="large-12 columns">&nbsp;</div>

	<div class="row">
		<div class="large-12 columns">
			<ul class="clearing-thumbs" data-clearing>
			  <li><a href="http://placehold.it/1500x1000&text=Imagen 1"><img data-caption="Descripcion 1" src="http://placehold.it/150x100&text=Imagen 1"></a></li>
			  <li><a href="http://placehold.it/1500x1000&text=Imagen 2"><img data-caption="Descripcion 2" src="http://placehold.it/150x100&text=Imagen 2"></a></li>
			  <li><a href="http://placehold.it/1500x1000&text=Imagen 3"><img data-caption="Descripcion 3" src="http://placehold.it/150x100&text=Imagen 3"></a></li>
			  <li><a href="http://placehold.it/1500x1000&text=Imagen 4"><img data-caption="Descripcion 4" src="http://placehold.it/150x100&text=Imagen 4"></a></li>
			  <li><a href="http://placehold.it/1500x1000&text=Imagen 5"><img data-caption="Descripcion 5" src="http://placehold.it/150x100&text=Imagen 5"></a></li>
			  <li><a href="http://placehold.it/1500x1000&text=Imagen 6"><img data-caption="Descripcion 6" src="http://placehold.it/150x100&text=Imagen 6"></a></li>
			</ul>
		</div>
	</div>

	{#divs de relleno para hacer espacio#}
	{% for i in 0..4 %}
		<div class="large-12 columns">&nbsp;</div>
	{% endfor %}
