{#plantilla de informacion del equipo de desarrollo o vista 4.#}

<div class="view-div">
	<div class="large-12 columns" style="width:100%; height:35%;">
		<h1 align="center" style="position: absolute; width:100%; bottom: 0; text-align: center;">Equipo</h1>
	</div>

	<div class="row">
		<div class="large-4 push-2 columns">
			<h1 align="center">Gabriel</h1>
		</div>

		<div class="large-4 pull-2 columns">
			<h1 align="center">Roynny</h1>
		</div>
	</div>
</div>