{% extends 'GZMainBundle::layout.html.twig' %}


	{% block topbar %}
	
	<div class="row">
		<div id="user-div">
			{#area de Usuario#}
			<div class="row">
				<div class="large-10 columns">
					<h3 class="subheader" align="left">
						{% if user.getGender() == 'male' %}
						Bienvenido,
						{% else %}
						Bienvenida,
						{% endif %}{{ user.getFirstName() }}
					</h3>
				</div>

				
				<div   class="large-2 columns" >
					<a   <button class="btn btn-3 btn-3a" style="margin:6px 0px 0px 0px;" href="{{ path('logout') }}" id="log-button" > <br> Salir </button> </a>
				</div>
				
				{#
				<div class="large-2 columns">
					<a class="small button" href="{{ path('logout') }}">Salir</a>
				</div>
				#}

			</div>
		</div>
	</div>
		
	{% endblock %}

	{% block content %}

	{% include 'GZMainBundle::'~route~'.html.twig' with {'user':user} %}
		
	{% endblock %}
