body,html{
	width:100%;
    height:100%;
}
/*100% de la pantalla para cada vista*/
.view-div{
	width:100%;
	height:100%;
}

#form-content{
	background-color:#E6E6E6;
	border-style:solid;
	
	border-color:#707070;
}

#log-div{

	display:none;
}

#reg-div{

	display:none;
}

#boody {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
   }


#footerr {

		width:100%;
		float:left;
		left: 0;
		right: 0;		
		

}

#hv{
	border-style:solid;
	border-color:white;
	border-width:1px;
	border-right-style:dotted;
}
