{#cover de las reservaciones#}
<div style="width:100%;
	height:50%; background-image:url({{ asset('bundles/img/reservations.jpg') }});
background-size: 100%; background-repeat: no-repeat; background-attachment: fixed;" data-stellar-background-ratio="0.3">
</div>