{#reservaciones#}
<div class="view-div">
	<div class="small-6 columns" style="width:100%; height:25%;">
		<h1 align="center" style="position: absolute; width:100%; bottom: 0; text-align: center;">Reservaciones</h1>
	</div>

	<p align="center">
		<a data-orbit-link="standard" class="small button">
		  Categoria Estandar
		</a>
		<a data-orbit-link="bussiness" class="small button">
		  Categoria Bussiness
		</a>
		<a data-orbit-link="high" class="small button">
		  Categoria Alta
		</a>
	</p>
	
	<div class="small-11 small-centered columns">
		<ul data-orbit data-options="animation:'fade'; navigation_arrows: false;  slide_number: false; bullets: false; timer: false; stack_on_small: false;">
		  <li data-orbit-slide="standard" style="background-color:#FFFFFF">
		    <div>
		      <h2>Habitacion 1</h2>
		      <h3>... 1</h3>
		    </div>
		  </li>
		  <li data-orbit-slide="bussiness" style="background-color:#DCDCDC">
		    <div>
		      <h2>Habitacion 2</h2>
		      <h3>... 2</h3>
		    </div>
		  </li>
		  <li data-orbit-slide="high" style="background-color:#FFFF99">
		    <div>
		      <h2>Habitacion 3</h2>
		      <h3>... 3</h3>
		    </div>
		  </li>
		</ul>
	</div>
</div>