{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body %}

		{#cover de login#}
		<div class="cover-div"
		style="background-image:url({{ asset('bundles/img/login.jpg') }});">
		</div>

		{{ include('HotelUserBundle:User:guest-topbar.html.twig') }}
		{#titulo de login#}
		<div class="title-div">
			<h1>Login</h1>
		</div>

	<div id="user-login-div">
			{{ render(controller('HotelUserBundle:User:loginform')) }}
	</div>


	<div id="noti1" class="reveal-modal small" medium data-reveal>
	  <h4>Notificaion</h4>
	  <h3> Sesion iniciada con exito.</h3>
	 <span style="float:right;">    <a href"{{ path('main_welcome') }}" class="button submitbtn"> relajar la pelvis</a>  </span>
	  <a class="close-reveal-modal">&#215;</a>
	</div>


{% endblock %}


