{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}

<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:'~prefix~'-topbar.html.twig') }}

<div class="title-div">
	<h1>Registro de Usuario</h1>
</div>

{% include 'HotelUserBundle:User:form.html.twig' with {'form': form} %}

<ul class="record_actions">
    <li>
		<a href="{{ path('user') }}">
	 	   Regresar a la lista
		</a>
	</li>
</ul>
{% endblock %}
