{#cover del index#}
<div class="cover-div parallax-div"
style="background-image:url({{ asset('bundles/img/cover.jpg') }});"
data-stellar-background-ratio="0.3">
	<div class="row">
		<div class="small-6 columns" style="background-color:#474747;" align="center">
			<h1 style="font-size:60px; color:white;">Hotel Symfonia</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-5 columns">
			<h2>Un lugar armonioso.</h3>
		</div>
	</div>
</div>
