{% extends 'GZMainBundle::layout.html.twig' %}

{% block body %}
	{#cover con efecto parallax#}
	<div class="parallax-div"
	style="background-image:url({{ asset('bundles/img/cover.jpg') }});"
	data-stellar-background-ratio="0.3">
		<div class="row">
			<div class="small-12 medium-5 medium-centered columns" style="background-color:#474747;">
				<h1 align="center" style="color:white;">Hotel Symfonia</h1>
			</div>
		</div>
		<div class="row">
			<div class="small-12  medium-4 medium-centered columns">
				<h3>Un lugar armonioso.</h3>
			</div>
		</div>
	</div>
	{#barra superior#}
	{{ include('GZMainBundle::'~prefix~'-topbar.html.twig') }}
	{#titulo#}
	<div class="title-div">
		<h1>Te damos la bienvenida</h1>
	</div>
	{#intro#}
	<div class="row">
		<div class="small-12 medium-4 large-4 columns">
			<h1 align="center" style="color:black;"><i class="fi-star" style="font-size:200%;"></i></h1>
			<h4 align="center">Tu hotel favorito</h4>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<h1 align="center" style="color:black;"><i class="fi-map" style="font-size:200%"></i></h1>
			<h4 align="center">Ubicacion privilegiada</h4>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<h1 align="center" style="color:black;"><i class="fi-shopping-cart" style="font-size:200%"></i></h1>
			<h4 align="center">Reserva inmediata</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 large-4 columns">
			<p>Aqui va una labia.</p>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<p>Aqui va una labia.</p>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<p>Aqui va una labia.</p>
		</div>
	</div>
	{#footer#}
	{{ include('GZMainBundle::footer.html.twig') }}
{% endblock %}
